.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 100px auto;
  background-color: black;
}

.game {
  width: 280px;
  margin: 10px;
  height: 380px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #202020;
  box-shadow: 4px 3px 11px 6px rgba(255, 179, 0, 0.22);
  transition-duration: 0.3s;
  cursor: pointer;

  &-thumb-container {
    background-color: #000;
    position: relative;
    height: 172px;
    color: white;
    text-align: center;
  }

  &-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 172px;
  }

  &-description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 120px;
  }

  &-name {
    color: white;
    font-weight: 700;
    text-align: center;
    font-size: 22px;
    font-family: "Arial", serif;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-platforms {
    display: flex;
    justify-content: center;
  }
  &-platform {
    width: 25px;
    margin-right: 10px;
  }
}




